{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "syntax-object-rest-spread",
    "transform-object-rest-spread",
    "external-helpers"
  ],
  "env": {
  "test": {
      "presets": [["env"]]
    }
  }
}
